* {
  --white: #f2f2f2
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
}

body {
  height: 100vh;
  margin: auto 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}
header {
  padding: 10px 0;
  border: 1px solid #ddd;
}
nav {
  width: 100%;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menu-item {
  list-style-type: none;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  height: fit-content;
  width: 80%;
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(135deg, #9c27b0 0%, #3f51b5 100%);
}

.box {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.box h2 {
  font-size: 0.5em;
  color: #fff;
}

.box:nth-child(1) {
  background: #e91e63;
}

.box:nth-child(2) {
  background: #9c27b0;
}

.box:nth-child(3) {
  background: #3f51b5;
}

.box:nth-child(4) {
  background: #03a9f4;
}

.box:nth-child(5) {
  background: #FAEA0B;
}

.box:nth-child(6) {
  background: #DC6872;
}

.box:nth-child(7) {
  background: #EC8124;
}

.box:nth-child(8) {
  background: #8AC985;
}

.box:nth-child(9) {
  background: #C2E336;
}

.box:nth-child(10) {
  background: #9c27b0;
}

.box:nth-child(11) {
  background: #3f51b5;
}

.box:nth-child(12) {
  background: #03a9f4;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

p {
  padding: 20px;
  margin: 0;
  text-align: center;
  background: #111;
  color: #fff;
  font-size: 0.6em;
}

/* Add animation styles here */

/* 3 dots animation*/
.dot {
  width: 12px;
  height: 12px;
  background: var(--white);
  border-radius: 50%;
  display: inline-block;
  animation: bounce 1s ease-in-out infinite;
}
.dot2 {
  display: inline-block;
  animation-delay: 0.2s;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-20px);
    opacity: 100;
  }
}

/* wave animation */
.wave {
  width: 10px;
  height: 10px;
  display:  inline-block;
  background: var(--white);
  animation: waveAnim 1s ease-in-out infinite;
}
.wave:nth-child(2) {
  animation-delay: 0.2s;
}
.wave:nth-child(3) {
  animation-delay: 0.4s;
}
.wave:nth-child(4) {
  animation-delay: 0.6s;
}
.wave:nth-child(5) {
  animation-delay: 0.8s;
}
@keyframes waveAnim {
  0%, 100% {
    height: 10px;
  }
  50% {
    height: 30px;
  }
}