* {
  --white: #f2f2f2
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
}

body {
  height: 100dvh;
  margin: auto 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}
header {
  height: 10dvh;
  border: 1px solid #ddd;
  display: grid;
  place-items: center;
}
nav {
  width: 100%;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menu-item {
  list-style-type: none;
}
.content {
  height: 80dvh;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #9c27b0 0%, #3f51b5 100%);
  position: relative;
}
.content h1 {
  color: var(--white);
}
.container {
  height: fit-content;
  width: 80%;
  max-width: 360px;
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.box h2 {
  font-size: 0.5em;
  color: #fff;
}

.box:nth-child(1) {
  background: #e91e63;
}

.box:nth-child(2) {
  background: #9c27b0;
}

.box:nth-child(3) {
  background: #3f51b5;
}

.box:nth-child(4) {
  background: #03a9f4;
}

.box:nth-child(5) {
  background: #FAEA0B;
}

.box:nth-child(6) {
  background: #DC6872;
}

.box:nth-child(7) {
  background: #EC8124;
}

.box:nth-child(8) {
  background: #8AC985;
}

.box:nth-child(9) {
  background: #C2E336;
}

.box:nth-child(10) {
  background: #9c27b0;
}

.box:nth-child(11) {
  background: #3f51b5;
}

.box:nth-child(12) {
  background: #03a9f4;
}

footer {
  height: 10dvh;
  width: 100%;
  background: #111;
  position: absolute;
  bottom: 0;
  display: grid;
  place-items: center ;
}

p {
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 0.6em;
}

/* Add animation styles here */

/* 3 dots animation*/
.dot {
  width: 12px;
  height: 12px;
  background: var(--white);
  border-radius: 50%;
  display: inline-block;
  animation: bounce 1s ease-in-out infinite;
}
.dot2 {
  display: inline-block;
  animation-delay: 0.2s;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-20px);
    opacity: 100;
  }
}

/* wave animation */
.wave {
  width: 10px;
  height: 10px;
  display:  inline-block;
  background: var(--white);
  animation: waveAnim 1s ease-in-out infinite;
}
.wave:nth-child(2) {
  animation-delay: 0.2s;
}
.wave:nth-child(3) {
  animation-delay: 0.4s;
}
.wave:nth-child(4) {
  animation-delay: 0.6s;
}
.wave:nth-child(5) {
  animation-delay: 0.8s;
}
@keyframes waveAnim {
  0%, 100% {
    height: 10px;
  }
  50% {
    height: 30px;
  }
}
/* Spinner Animation */
 .circle {
      width: 20px;
      height: 20px;
      border: 8px solid rgba(255,255,255,0.3);
      border-top: 8px solid var(--white);
      border-radius: 50%;
      margin: 0 auto;
      animation: spin 1s linear infinite;
    }
    @keyframes spin {
      to { transform: rotate(360deg); }
    }
    /* Text animation */
      .text span {
      display: inline-block;
      font-size: 0.6em;
      color: var(--white);
      font-weight: bold;
      animation: bounce 1s infinite;
    }
    .text span:nth-child(2) { animation-delay: 0.2s; }
    .text span:nth-child(3) { animation-delay: 0.4s; }
    .text span:nth-child(4) { animation-delay: 0.6s; }
    .text span:nth-child(5) { animation-delay: 0.8s; }
    .text span:nth-child(6) { animation-delay: 1s; }
    .text span:nth-child(7) { animation-delay: 1.2s; }
    

    @keyframes bounce {
      0%, 100% { transform: translateY(0); }
      50% { transform: translateY(-15px); }
    }
/* About page */
.banner-about,
.banner-contact {
  width: 100%;
  height: 200px;
  background-image: url("./images/n8n.jpeg");
  background-size: cover;
  position: absolute;
  top: 0;
}
.bio {
  width: 150px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bio img {
  display: block;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.bio .title,
.bio .description {
  margin: 0;
  padding: 0;
  color: #fff;
}
.bio .title {
  font-size: 0.75em;
}
.bio .description {
  font-size: 0.5em;
  background: none;
}
.details {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-items: center;
  align-items: center;
}